.portfolio {
  padding: 4rem 2rem;
  font-family: "Courier New", Courier, monospace;
}

.portfolio-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.portfolio-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.portfolio-card:hover {
  transform: translateY(-5px);
}

.portfolio-card img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}

.portfolio-card h3 {
  font-size: 1.2rem;
  color: rgb(194, 150, 255);
  margin-bottom: 0.5rem;
}

.portfolio-card h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.portfolio-card p {
  margin-bottom: 1rem;
  color: black;
}

@media (max-width: 700px) {
  .portfolio-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
