.Publication {
  color: var(--text);
}

.Publication h2 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.Publication h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-muted);
  margin-bottom: 0.8rem;
}

.Publication h4 {
  font-size: 0.96rem;
  margin-bottom: 0.8rem;
  color: var(--primary);
  font-weight: 500;
}

.Publication p {
  margin: 1rem 0;
  line-height: 1.6;
  color: var(--text-muted);
}
